.blog-container{
    border : 1px solid gray;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
}

.blog-title{
    font-size: 40px;
    color: khaki;
    font-weight: 400;
}

.blog-content{
    font-size: 20px;
    color: blue;
    font-weight: lighter;
}

.blog-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post-owner{
    font-weight: bold;
}