.banner {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;

}

.banner-main-text {
    font-size: 35px;
    color: whitesmoke;
    cursor: pointer;
}