.signup-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .banner {
    flex: 1;
    height: 100%;
    background-image: url('./rain-window.jpg');
  }
  
  .signup-form-container {
    background-color: rgb(147, 198, 243);
    flex: 1;
    display: flex;
  
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    
  }
  
  .signup {
    background-color:rgb(34, 33, 31);
    height: 30px;
    width: 70px;
    border-radius: 10px;
  }
  
  button {
    background-color: rgb(57, 59, 61);
    color: white;
    margin-left: 130px;
    border-radius: 10px;
  }
  .loginbtn {
    background-color: rgb(57, 59, 61);
    color: white;
    border-radius: 100px;
    height: 25px;
    width: 60px;
  }
  
  